<%= form_for(@ccunit) do |f| %>
  <% if @ccunit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ccunit.errors.count, "error") %> prohibited this ccunit from being saved:</h2>

      <ul>
      <% @ccunit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :ip, :for=>"ipField" %><br>
    <%= f.text_field :ip, :class=>"form-control", :id=>"ipField" %>
  </div>
  <div class="form-group">
    <%= f.label :port, :for=>"portField" %><br>
    <%= f.number_field :port, :class=>"form-control", :id=>"portField" %>
  </div>
  <div class="field">
    <%= f.label :floor_id, :for=>"floorField" %><br>
    <%= f.grouped_collection_select(:floor_id, Building.all, :floors, :name, :id, :name, {class: "form-control"}, {id: "floorField"}) %>
  </div>
      <% if @ccunit.new_record? %>
        <ul class="list-inline">
          <li><%= f.submit 'Create', :class=>"btn btn-success" %></li>
          <li><%= button_tag 'Reset', type: :reset, :class=>"btn btn-default" %></li>
        </ul>
      <% else %>
        <%= f.submit "Update", :class=>"btn btn-success" %>
      <% end %>
<% end %>
