<%= form_for(@ccunit) do |f| %>
  <% if @ccunit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ccunit.errors.count, "error") %> prohibited this ccunit from being saved:</h2>

      <ul>
      <% @ccunit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :port %><br>
    <%= f.number_field :port %>
  </div>
  <div class="field">
    <%= f.label :floor_id %><br>
    <%= f.grouped_collection_select(:floor_id, Building.all, :floors, :name, :id, :name, prompt: true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
