<% if notice %>
  <div class="alert alert-info">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Ip</th>
      <th>Port</th>
      <th>Floor</th>
      <th colspan="3"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @ccunit.ip %></td>
      <td><%= @ccunit.port %></td>
      <td><%= @ccunit.floor.name %></td>
    </tr>
  </tbody>
</table>

<% if current_user_admin? %>
<%= link_to 'Edit', edit_ccunit_path(@ccunit), :class=>"btn btn-warning" %> |
<%= link_to 'Back', ccunits_path, :class=>"btn btn-default" %>
<% end %>
