<% if notice %>
  <div class="alert alert-info">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<h1>Listing Buildings</h1>

<% if current_user_admin? %>
<div class="field">
  <label>Threshold</label><br />
  <select name="threshold[id]" id="threshold_id">
    <option value="0">default</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
    <option value="32">32</option>
  </select>
</div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Floors</th>
      <th>Lots status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.name %></td>
        <td><%= building.description %></td>
        <td><%= building.floors.count %></td>

        <% div_id_o = "occupied#{building.id}" %>
        <% div_id_v = "vacant#{building.id}" %>
        <% div_id_r = "reserved#{building.id}" %>
        <% div_id_t = "total#{building.id}" %>

        
        <td>
          <ul class="list-unstyled">
            <li> <h5> <span class="label label-danger">Occupied</span> <span class="badge"><div id="<%= div_id_o %>" style="display: inline-block;"> </div> </span></h5> </li>
            <li> <h5> <span class="label label-success">Vacant</span> <span class="badge"><div id="<%= div_id_v %>" style="display: inline-block;"> </span> </div> </h5> </li>
            <li> <h5> <span class="label label-warning">Reserved</span> <span class="badge"><div id="<%= div_id_r %>" style="display: inline-block;"> </span> </div> </h5> </li>
            <li> <h5> <span class="label label-info">Total</span> <span class="badge"><div id="<%= div_id_t %>" style="display: inline-block;"> </div> </span> </h5> </li>
          </ul>
        </td>

        <% if current_user_admin? %>
        <td><%= link_to 'Show', building, :class=>"btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_building_path(building), :class=>"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', building, :class=>"btn btn-danger" ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user_admin? %>
<%= link_to 'New Building', new_building_path, :class=>"btn btn-info" %>
<% end %>
