<% if notice %>
  <div class="alert alert-info">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<h1>Listing Buildings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Floors</th>
      <th>Lots status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
      <div class="col-xs-8 class">
        <td><%= building.name %></td>
        <td><%= building.description %></td>
        <td><%= building.floors.count %></td>
      </div>

      <% div_id_f = "filled#{building.id}" %>
      <% div_id_v = "vacant#{building.id}" %>
      <% div_id_t = "total#{building.id}" %>

        
        <div class="col-xs-4">
        <td>
          <ul class="list-unstyled">
            <li> <h5> <span class="label label-danger">Occupied :</span> <span class="badge"><div id="<%= div_id_f %>" style="display: inline-block;"> </div> </span></h5> </li>
            <li> <h5> <span class="label label-success">Vacant :</span> <span class="badge"><div id="<%= div_id_v %>" style="display: inline-block;"> </span> </div> </h5> </li>
            <li> <h5> <span class="label label-info">Total :</span> <span class="badge"><div id="<%= div_id_t %>" style="display: inline-block;"> </div> </span> </h5> </li>
          </ul>
        </td>
        </div>

        <% if current_user_admin? %>
        <td><%= link_to 'Show', building, :class=>"btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_building_path(building), :class=>"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', building, :class=>"btn btn-danger" ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="btnTest"> </div>

<% if current_user_admin? %>
<%= link_to 'New Building', new_building_path, :class=>"btn btn-info" %>
<% end %>
