<%= form_for(@floor)  do |f| %>
  <% if @floor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@floor.errors.count, "error") %> prohibited this floor from being saved:</h2>

      <ul>
      <% @floor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :for=>"nameField" %><br>
    <%= f.text_field :name, :class=>"form-control", :id=>"nameField" %>
  </div>
  <div class="form-group">
    <%= f.label :image_name, :for=>"imgField" %><br>
    <%= f.file_field :image, :class=>"form-control", :id=>"imgField"  %>
  </div>
  <div class="form-group">
    <%= f.label :building_id, :for=>"buildField" %><br>
    <%= f.collection_select(:building_id, Building.all, :id, :name, {class: "form-control"}, {id: "buildField"}) %>
  </div>
      <% if @floor.new_record? %>
        <ul class="list-inline">
          <li><%= f.submit 'Create', :class=>"btn btn-success" %></li>
          <li><%= button_tag 'Reset', type: :reset, :class=>"btn btn-default" %></li>
        </ul>
      <% else %>
        <%= f.submit "Update", :class=>"btn btn-success" %>
      <% end %>
<% end %>
