<% if notice %>
  <div class="alert alert-info">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<h1>Listing Floors</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <% if current_user_admin? %>
       <th>Image url</th>
      <% end %>
      <th>Building name</th>
      <% if current_user_admin? %>
        <th colspan="3"></th>
      <% else %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <% building.floors.each do |floor| %>
          <tr>
            <td><%= floor.name %></td>
            <% if current_user_admin? %>
              <td><%= floor.image_url %></td>
            <% end %>
            <td><%= floor.building.name %></td>
            <td><%= link_to 'Show', floor, :class=>"btn btn-success", 'data-no-turbolink' => true %></td>
            <% if current_user_admin? %>
              <td><%= link_to 'Edit', edit_floor_path(floor), :class=>"btn btn-warning" %></td>
              <td><%= link_to 'Destroy', floor, :class=>"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user_admin? %>
<%= link_to 'New Floor', new_floor_path, :class=>"btn btn-info" %>
<% end %>
