<% if notice %>
  <div class="alert alert-info">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<div>
  <% if current_user_admin? %>
    <ul class="list-inline pull-right">
      <li><%= link_to 'Edit', edit_floor_path(@floor), :class=>"btn btn-warning" %></li>  
    </ul>
  <% end %>
</div>

  <h3><%= @floor.building.name %> : <%= @floor.name %></h3>

<div class="row">
<div class="col-sm-10">
  <div class="embed-responsive embed-responsive-16by9">
     <object class="embed-responsive-item" id="<%= @floor.building.id%><%= @floor.id%>" type="image/svg+xml" data=<%=asset_path @floor.image_url%>>Your browser does not support SVG</object>
  </div>
</div>

<% div_id_o = "occupied#{@floor.id}#{@floor.building.id}" %>
<% div_id_v = "vacant#{@floor.id}#{@floor.building.id}" %>
<% div_id_r = "reserved#{@floor.id}#{@floor.building.id}" %>
<% div_id_t = "total#{@floor.id}#{@floor.building.id}" %>


<div class="col-sm-2">
  <ul class="list-unstyled">
    <li> <h4> Lots status </h4> </li>
    <li> <h5> <span class="label label-danger">Occupied</span> <span class="badge"><div id="<%= div_id_o %>" style="display: inline-block;"> </div> </span> </h5> </li>
    <li> <h5> <span class="label label-success">Vacant</span> <span class="badge"><div id="<%= div_id_v %>" style="display: inline-block;"> </div></span> </h5> </li>
    <li> <h5> <span class="label label-warning">Reserved</span> <span class="badge"><div id="<%= div_id_r %>" style="display: inline-block;"> </div></span> </h5> </li>
    <li> <h5> <span class="label label-info">Total</span> <span class="badge"><div id="<%= div_id_t %>" style="display: inline-block;"> </div> <span> </h5> </li>
  </ul>
</div>
</div>

