<% if notice %>
  <div class="alert alert-info">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<div class="page-header">
  <% if current_user_admin? %>
    <ul class="list-inline pull-right">
      <li><%= link_to 'Edit', edit_floor_path(@floor), :class=>"btn btn-warning" %></li>  
      <li><%= link_to 'Back', floors_path, :class=>"btn btn-default" %></li>
    </ul>
  <% else %>
    <%= link_to 'Back', floors_path, :class=>"btn btn-default pull-right" %>
  <% end %>
    <h3><%= @floor.building.name %> : <%= @floor.name %></h3>
</div>

<div class="col-xs-10">
     <object id="<%= @floor.building.name %><%= @floor.name %>" type="image/svg+xml" data=<%=asset_path @floor.image_url%>>Your browser does not support SVG</object>
</div>

<% div_id_f = "filled#{@floor.id}#{@floor.building.id}" %>
<% div_id_v = "vacant#{@floor.id}#{@floor.building.id}" %>
<% div_id_t = "total#{@floor.id}#{@floor.building.id}" %>


<div class="col-xs-2">
  <ul class="list-unstyled">
    <li> <h4> Lots status </h4> </li>
    <li> <h5> <span class="label label-danger">Occupied :</span> <span class="badge"><div id="<%= div_id_f %>" style="display: inline-block;"> </div> </span> </h5> </li>
    <li> <h5> <span class="label label-success">Vacant :</span> <span class="badge"><div id="<%= div_id_v %>" style="display: inline-block;"> </div></span> </h5> </li>
    <li> <h5> <span class="label label-info">Total :</span> <span class="badge"><div id="<%= div_id_t %>" style="display: inline-block;"> </div> <span> </h5> </li>
  </ul>
</div>

