<div class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapibleMenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="<%= root_path %>" class="navbar-brand">Parking Management</a>
    </div>

    <div class="collapse navbar-collapse" id="collapibleMenu">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "Buildings", buildings_path, method: :get %></li>
          <% if current_user_admin? %>
            <li><%= link_to "Floors", floors_path, method: :get %></li>
            <li><%= link_to "Ccunits", ccunits_path, method: :get %></li>
          <% end %>
          <li><%= link_to current_user.name, current_user %></li>
          <li><%= link_to "Sign Out", session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>   
          <li><%= link_to "Sign In", new_session_path %></li>   
        <% end %>
      </ul>
    </div>

  </div>
</div>
